<% if current_user && current_user.role > 1 %>
  <p class="lead"><%= link_to 'New article', new_chat_room_path, class: 'btn btn-primary' %></p>
<% end %>
<div id="chat-rooms">
  <% if @chat_rooms.present? %>
    <%= render @chat_rooms %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>
