<span>Rating:</span>
<%= content_tag(:a, fa_icon("thumbs-down"), href:"#", data: {vote: 'bad'})%>
<span>
  <%= chat_room.cached_votes_score %>
</span>
<%= content_tag(:a, fa_icon("thumbs-up"), href:"#", data: {vote: 'like'})%>
