<li class="list-group-item"><div><%= link_to popular.title, chat_room_path(popular) %> </div><div class="text-muted"><%= link_to popular.user.name, user_path(popular.user) %> - <%= popular.timestamp %></div></li>
